<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeninKütüphanen</title>
    <link rel="icon" href="icons&images/LibraryIcon.jpeg" type="jpeg">
    <link rel="stylesheet" href="~/css/RegisterPage.css"/>
</head>
<body>
    <div class="title">
        <h2 class="titleofsite">Senin Kütüphanen</h2>
    </div>
    <form Action="UserLogIn" method="post">
        <div class="RegisterPage">
            <div class="Register-content">
                <h1 class="Register-title">Giriş Yap</h1>
                <h3 class="Name">Kullanıcı adı: <input name="TbxUserName" type="text" id="tbxUserName"></h3>
                <h3 class="Password">Şifre: <input name="TbxPassword" type="password" id="tbxPassword"></h3>
                <a class="Noaccount" href="/RegisterLogIn/RegisterPage">
                    Hesabın yok mu? Kayıt Ol!
                </a>
                <button type="submit" class="Register-button" id="loginButton">Giriş Yap</button>
            </div>
        </div>
   </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/LogInRegister.js"></script>
</body>
</html>