<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeninKütüphanen</title>
    <link rel="icon" href="/img/logo.png" type="jpeg">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200">

    <div class="flex min-h-screen">
        <!-- Left Side: Image -->
        <div class="flex-1">
            <img src="~/img/library.jpeg" alt="Library Image" class="h-full w-full object-cover" />
        </div>


        <!-- Right Side: Form -->
        <div class="bg-gray-100 flex flex-1 items-center justify-center">
            <div class="bg-white p-8 w-full max-w-md rounded-lg shadow-lg">
                <div class="mb-8 text-center">
                    <h2 class="text-gray-700 text-4xl font-semibold">BenimKitaplığım</h2>
                    <p class="text-gray-500 mt-2">Doğrulama kodunu giriniz</p>
                </div>

                    <!-- Email Input -->
                    <div class="mb-4">
                        <label for="code" class="text-gray-600 block">E-posta adresi</label>
                        <input type="text" id="code" placeholder="Doğrulama Kodu"
                               class="p-3 mt-2 border-gray-300 w-full rounded-lg border focus:outline-none focus:ring-2 focus:ring-blue-400" required />
                    </div>

                    <!-- Submit Button -->
                    <button id="verify"
                            class="p-3 bg-blue-500 text-white w-full rounded-lg font-semibold hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-300">
                        Onayla
                    </button>
                    <!-- Resend Button -->
                    <button id="resend"
                            class="p-3 bg-white text-blue-500 border-blue-500 mt-2 w-full rounded-lg border-2 font-semibold hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-300">
                        Kodu Tekrar Gönder
                    </button>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Verification.js"></script>
</body>

</html>
