html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}

.Table1Columns {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 500;
    background-color: #8b4513;
    color: white;
    padding: 8px;
    text-align: center;
}

.Table1Rows {
    background-color: #f5f5dc; 
    color: #2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
}


.Table1 {
    width: 100%;
    border-collapse: collapse;
}


.Table1Columns th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #8b4513;
    color: white; 
    border: 3px solid #8b4513;
    top:-2px;
    
}

.Table1 th, .Table1 td {
    border: 1px solid #8b4513;
    padding: 8px;
    text-align: center;
}

.yourbookshelf {
    position: relative;
    top: 50px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #490000;
    text-decoration: underline;
}

.update-section h2, .add-section h2 {
    text-align: center;
    position: relative;
    bottom: 15px;
}

.add-section, .update-section {
    position: relative;
    border: 2px solid #490000;
    padding: 25px;
    background-color: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
    height:400px;
}

.Table1 td:nth-child(1),
.Table1 th:nth-child(1) {
    width: 5%; 
}

.Table1 td:nth-child(2),
.Table1 th:nth-child(2) {
    width: 20%; 
}

/* Set width for the Author column */
.Table1 td:nth-child(3),
.Table1 th:nth-child(3) {
    width: 20%; /* Adjust the width as needed */
}

/* Set width for the Category column */
.Table1 td:nth-child(4),
.Table1 th:nth-child(4) {
    width: 20%; /* Adjust the width as needed */
}

/* Set width for the Completed Pages column */
.Table1 td:nth-child(5),
.Table1 th:nth-child(5) {
    width: 12.5%; /* Adjust the width as needed */
}

/* Set width for the Total Pages column */
.Table1 td:nth-child(6),
.Table1 th:nth-child(6) {
    width: 10%; /* Adjust the width as needed */
}

.add-section input {
    width: 160px;
}

.addbutton, .updatebutton, .deletebutton, .AddToFavoritesButton {
    font-size: 17.5px;
    font-weight: 700;
    padding: 3px;
    border: 2px solid #490000;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
    color: #490000;
    width: 210px;
    transition: 0.4s;
}

.addbutton, .updatebutton {
    position: relative;
    left: 65px;
    top: 10px;
}

    .addbutton:hover, .updatebutton:hover, .deletebutton:hover, .AddToFavoritesButton:hover {
        background-color: #490000;
        cursor: pointer;
        color: #e8e8e8;
        border-color: #490000;
        box-shadow: 4px 4px 4px gray;
    }

.sections {
    position: relative;
    grid-column-gap: 20px;
    padding: 20px;
    bottom: 360px;
    display:grid;
    grid-template-columns:1fr 1fr;

}

.addbutton:active, .updatebutton:active, .deletebutton:active, .AddToFavoritesButton:active {
    opacity: 0.6;
}

.sectiontextboxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

    .input-group label {
        margin-right: 10px;
        width: 120px; /* Adjust the width as needed */
    }


    .input-group input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 200px; /* Adjust the width as needed */
    }

.filters {
    border: 2px solid #490000;
    position: relative;
    bottom: 400px;
    padding:2%;
    display:flex;
    justify-content:space-between;
}

.filters-container {
    padding: 1%;
}

.filterlabels {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:2.5%;
    top:5px;
}

.filterbox,.filter-combobox {
    position: relative;
    width: 180px;
}

.deletebutton {
    position: relative;
}

.AddToFavoritesButton {
    position: relative;

}
/* Adjust the width of the table container */
.table-container {
    position: relative;
    left: 10px;
    bottom: 450px; /* Adjust positioning according to your layout */
    width: 70%; /* Adjust the width as needed */
    overflow: auto;
    background-color: #f5f5dc;
    height: 400px;
    border: 5px solid #8b4513; /* Dark brown border resembling wood */
}

.progressbar-container {
    position: relative;
    left: 85%;
    bottom: 25px;
    transform: translateX(-50%); /* Center the element horizontally */
    display: flex;
    width: 400px;
    height: 400px;
    padding: 50px 0;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.circular-progress {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: conic-gradient(#8b4513 240deg, #ccc 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1s; /* Smooth transition for background property */
}


    .circular-progress::before {
        content: "";
        position: absolute;
        height: 250px;
        width: 250px;
        background-color: #e8e8e8;
        border-radius: 50%;
    }

.progress-value {
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.selected {
    background-color: #fac588; /* Change the background color of the selected row */
}

.completion-rate {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    position: relative;
    top: 20px;
}

.Table1Rows td {
    cursor: pointer;
}

.titlebuttons {
    margin-left: 30px;
}

.page-container {
    display: flex;
    justify-content: space-between;
}

.IdInput {
    margin-left: 15px;
    width: 35px;
}

.AddNewBook {
    margin-right: 25px;
    text-decoration: underline;
}

.favorites {
    border: 3px solid #490000;
    display: flex;
    justify-content: space-around;
    height: 600px;
    flex-wrap: wrap;
}

.favorites-container {
    padding: 20px;
    position: relative;
    bottom: 350px;
}

.fav-title {
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.fav {
    margin-top: 12.5px;
    border: 2px solid black;
    width: 17.5%;
    height: 275px;
    text-align: center;
}

.book-title {
    font-size: large;
    font-family:Arial;
    font-weight:650;
}
.booktitle-container {
    margin-top:5px;
    height:50px;
}

.bookimg {
    max-width: 100%; /* Ensure the image fills the container horizontally */
    max-height: 100%; /* Ensure the image fills the container vertically */
    object-fit: contain;
    border:1px solid black;
}

.imgBox {
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}

.favbuttons {
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
}

.favbutton, .upload-button {
    padding: 3px;
    border: 2px solid #490000;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
    color: #490000;
    font-weight: 600;
    transition: 0.4s;
}

.favbutton {
    width: 75%;
}

    .favbutton:hover, .upload-button:hover {
        background-color: #490000;
        cursor: pointer;
        color: #e8e8e8;
        border-color: #490000;
        box-shadow: 4px 4px 4px gray;
    }

    .favbutton:active, .upload-button:active {
        opacity: 0.75;
    }

#imageInput {
    display: none;
}

.upload-button {
    width: 70%;
    margin-top:20px;
}

.upload-label {
    background-color: rgb(95, 95, 95);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 15%;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.35s;
    position:relative;
    bottom:15px;
}

    .upload-label:hover {
        cursor: pointer;
        opacity: 0.75;
    }

    .upload-label:active {
        opacity: 0.5;
    }
.comboBox{
    width:212px;
    height:28px;
    background-color:white;
    border-radius:3px;
    transition:0.2s;
}
    .comboBox:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.filter-combobox{
    background-color:white;
    transition:0.3s;
    }
.filter-combobox:hover{
    opacity:0.8;
    cursor:pointer;
}
filter-combobox:active{
    opacity:0.6;
}
.profile-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family:Arial;
    position:relative;
    gap: 30px;
}
a {
    transition: 0.3s;
    color: #f5f5dc;
    text-decoration:none;
}
    a:hover {
        opacity: 0.85;
        color: #f5f5dc;
    }
.profilename{
    display:inline-block;
    position:relative;
    bottom:6.5px;
    left:15px;
}
.profilepicture {
    position: relative;
    top:10px;
    width:50px;
    left:10px;
    border:1px solid black;
}
.profilename:hover{
    text-decoration:underline;
}
.titleofsite {
    position: relative;
    right: 9.25%;
    color: #f5f5dc;
    font-weight: bold;
    font-family: Arial;
}
.logout-button {
    font-size: large;
    color: #f5f5dc;
    font-family:Arial;
}
.logout-button:hover{
    text-decoration:underline;
}

.title-main {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center;
    border-bottom: 1.5px solid #490000;
    background-color: #490000;
    z-index: 2;
    justify-content: space-between;
}

.gobackimage{
    width:25px;
    position:relative;
    right:115px;
    top:8px;
}
.user-library:hover{
    text-decoration:underline;
}
.invisible{
    visibility:hidden;
}