/* 1. Override default font to Inter */
body {
    font-family: "Inter", sans-serif;
}

/* 2. Autofill Override for Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important;
    box-shadow: 0 0 0 1000px #1f2937 inset !important;
    -webkit-text-fill-color: #f3f4f6 !important;
    transition: background-color 5000s ease-in-out 0s;
}
