html, body {
    width: 100%;
    margin: 0; 
    padding: 0; 
    background-color: #e8e8e8;
}

.settings-container{
    padding:10px;
    display:inline-block;
    border:1px solid #490000;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.page-container{
    display:flex;
    justify-content: center;
    position:relative;
    top:50px;
}
.settings{
    display:flex;
    justify-content: center;
    text-decoration: underline;
    color: #490000;
}
.change-button{
    background-color: #490000;
    color:#e8e8e8;
    border-color: #490000;
    width:160px;
    height: 25px;
    border-radius: 5px;
    font-weight: 600;
    margin-left:5px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}
.change-button:hover{
    color:#490000;
    background-color: #e8e8e8;
    cursor: pointer;
    box-shadow: 4px 4px 4px gray;
}
.change-button:active{
    opacity: 0.7;
}
a{
    text-decoration: none;
}
.Display-library{
    margin-right:10px;
    color:#f5f5dc;
    background-color: darkred;
    border: 2px solid darkred;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height:30px;
    padding:5px;
    transition:0.4s;
}

.Display-library:hover{
    color:darkred;
    cursor:pointer;
    background-color: #f5f5dc;
}

.profilepicture {
    position: relative;
    left: 20px;
    top:12.5px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block; /* Ensure it appears inline */
    width:50px;
    border:1px solid black;
}
.profilepicture:hover{
    opacity:0.9;
}


.profilename:hover{
    text-decoration:underline;
    opacity:0.9;
}
.profilepicture:active{
    opacity:0.8;
}

.profilename {
    position: relative;
    left: 30px;
    bottom:2.5px;
    color: #f5f5dc;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    display: inline-block; /* Ensure it appears inline */
}

.UserProfilePicture{
    width:300px;
    border-bottom: 2px solid black;
    transition:0.3s;
}

.UserProfilePicture:hover{
    opacity: 0.6;
    cursor:pointer;   
}

.profile-container {
    display: flex;
    width: 320px;
    align-items: center;
    font-family: Arial;
    justify-content: space-between;
}

.profile-text{
    margin-left:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#imageInput{
    width:120px;
}

a {
    transition: 0.3s;
    color: #f5f5dc;
    text-decoration: none;
}

    a:hover {
        opacity: 0.85;
        color: #f5f5dc;
    }

.profilename {
    display: inline-block;
    position: relative;
    bottom: 6.5px;
}

.profilepicture {
    position: relative;
    top: 10px;
    right: 5px;
    width: 50px;
    border: 1px solid black;
}

.profilename:hover {
    text-decoration: underline;
}

.titleofsite {
    position: relative;
    right: 9.25%;
    color: #f5f5dc;
    font-weight: bold;
    font-family: Arial;
}

.logout-button {
    font-size: large;
    color: #f5f5dc;
    font-family: Arial;
}

    .logout-button:hover {
        text-decoration: underline;
    }

.title-main {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center;
    border-bottom: 1.5px solid #490000;
    background-color: #490000;
    z-index: 2;
    justify-content: space-between;
}

.gobackimage {
    width: 25px;
    position: relative;
    right: 115px;
    top: 8px;
}

.user-library:hover {
    text-decoration: underline;
}