html, body {
    width: 100%; 
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
    height: 1100px;
}

.completion-rate {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    position: relative;
    top: 20px;
}
.UserProfilePicture {
    width: 300px;
    border-bottom: 2px solid black;
    transition: 0.3s;
}

.userprofile-container {
    position: relative;
    top: 50px;
    left: 25px;
    display: inline-block;
    border: 2px solid black;
    padding-bottom: 30px;
    background-color: #f5f5dc;
    width: 300px;
    font-family: Arial;
}
.profile-text{
    position:relative;
    left:5px;
}
.colorCombobox {
    width: 250px;
    height: 30px;
    position: relative;
    right: 20px;
}

    .colorCombobox:hover {
        cursor: pointer;
    }

.selectbutton {
    position: relative;
    left: 140px;
    bottom: 60px;
    height: 30px;
    width: 60px;
    font-weight: 700;
    padding: 3px;
    border: 2px solid #490000;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
    color: #490000;
    transition: 0.4s;
    text-align: center;
}

.displaylibrary {
    margin-top: 5px;
    background-color: #e8e8e8;
    color: #490000;
    font-weight: 700;
    padding: 3px;
    border: 2px solid #490000;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    font-size: 16px;
    transition: 0.4s;
}

    .selectbutton:hover, .displaylibrary:hover {
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        padding: 3px;
        border: 2px solid #490000;
        border-radius: 3px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #490000;
        color: #e8e8e8;
        box-shadow: 4px 4px 4px gray;
    }

    .selectbutton:active, .displaylibrary:active {
        opacity: 0.7;
    }

.currentlyreadingcombobox {
    width: 175px;
    margin-left: 10px;
}

.dot-planning::before, .dot-completed::before,
.dot-notplanningtoread::before, .dot-currentlyreading::before,
.dot-reread::before, .dot-dropped::before,
.dot-planningtobuy::before, .dot-totalofreadpages::before,
.dot-totalOfReadBooks::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.dot-planning::before {
    background-color: blue;
}

.dot-dropped::before {
    background-color: red;
}

.dot-completed::before {
    background-color: green;
}

.dot-notplanningtoread::before {
    background-color: blueviolet;
}

.dot-currentlyreading::before {
    background-color: deeppink;
}

.dot-totalofreadpages::before {
    background-color: brown;
}

.dot-totalOfReadBooks::before {
    background-color: darkorange;
}

.LibraryGenreData {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .LibraryGenreData::before {
        content: "";
        position: absolute;
        height: 160px;
        width: 160px;
        background-color: #f5f5dc;
        border-radius: 50%;
    }

.LibraryGenreData-container {
    margin-top: 30px;
    margin-left: 50px;
}

.dot-history::before {
    content: "";
    margin-top: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: darkred;
}

.dot-literature::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: purple;
}

.dot-Science::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: blue;
}

.dot-Religion::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: green;
}

.dot-Psychology::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: orange;
    margin-top:10px;
}

.color-squares {
    padding-top: 30px;
    margin-left: 10px;
}


.page-container {
    display: flex;
    justify-content: space-between;
}


.Display-library {
    margin-right: 10px;
    color: #f5f5dc;
    background-color: darkred;
    border: 2px solid darkred;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 30px;
    padding: 5px;
    transition: 0.4s;
}

    .Display-library:hover {
        color: darkred;
        cursor: pointer;
        background-color: #f5f5dc;
    }

.Table1Columns {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 500;
    background-color: #8b4513;
    color: white;
    padding: 8px;
    text-align: center;
}

.Table1Rows {
    background-color: #f5f5dc;
    color: #2e2e2e; /* Dark gray text color */
    font-family: Arial, Helvetica, sans-serif;
}

.Table1 {
    width: 100%;
    border-collapse: collapse;
}


.Table1Columns th {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure header stays above other content */
    background-color: #8b4513; /* Dark brown for table header, resembling wood */
    color: white; /* Text color for table header */
}

a {
    text-decoration: none;
}

.Table1 th, .Table1 td {
    border: 1px solid #8b4513; /* Dark brown border */
    padding: 8px;
    text-align: center;
}

    .Table1 td:nth-child(1),
    .Table1 th:nth-child(1) {
        width: 5%; /* Adjust the width as needed */
    }

    /* Set width for the Name column */
    .Table1 td:nth-child(2),
    .Table1 th:nth-child(2) {
        width: 20%; /* Adjust the width as needed */
    }

    /* Set width for the Author column */
    .Table1 td:nth-child(3),
    .Table1 th:nth-child(3) {
        width: 20%; /* Adjust the width as needed */
    }

    .Table1 td:nth-child(4),
    .Table1 th:nth-child(4) {
        width: 20%; /* Adjust the width as needed */
    }

    .Table1 td:nth-child(5),
    .Table1 th:nth-child(5) {
        width: 10%; 
    }

    .Table1 td:nth-child(6),
    .Table1 th:nth-child(6) {
        width: 10%;
    }

.table-container {
    overflow: auto;
    border: 5px solid #8b4513;
    height: 330px;
    position: relative;
    width: 550px;
}

.statistics {
    position: relative;
    top: 50px;
    border: 2px solid black;
    color: black;
    background-color: #f5f5dc;
    padding: 20px;
    display: inline-block;
    width: 950px;
    height: 1050px;
    font-family: Arial, Helvetica, sans-serif;
}

.favorites {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    max-height:500px;
    flex-wrap: wrap;
}

.fav {
    border: 1px solid black;
    width: 17.5%;
    height: 45%;
    text-align: center;
    margin-top: 10px;
    background-color: #e8e8e8;
    padding: 7.5px;
}

.favtitle {
    text-align: center;
    text-decoration: underline;
    margin-top: 2.5px;
}

.imgBox {
    margin-top: 5px;
    display: flex;
    height: 175px;
    justify-content: center;
    align-items: center;
}

.favbookimg, .question-mark {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.favbookimg {
    border: 1px solid black;
}
.favorites-container {
    position: relative;
    top: 50px;
    height:591px;
}

.profile-settings {
    font-size: 17.5px;
    font-weight: 700;
    padding: 3px;
    border: 2px solid #490000;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
    color: #490000;
    width: 95%;
    transition: 0.4s;
    position: relative;
    left: 7px;
    top: 3px;
}

.profile-settings:hover {
        background-color: #490000;
        cursor: pointer;
        color: #e8e8e8;
        border-color: #490000;
        box-shadow: 4px 4px 4px gray;
}

.userstats-tablecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label-container{
    height:40px;
    font-family:Arial;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    width: 310px;
    align-items: center;
    font-family: Arial;
}

a{
    transition: 0.3s;
    color: #f5f5dc;
    text-decoration: none;
}

a:hover{
        text-decoration: underline;
        opacity: 0.85;
        color: #f5f5dc;
}

.profilename {
    display: inline-block;
    position: relative;
    bottom: 6.5px;
    left: 15px;
}

.profilepicture {
    position: relative;
    top: 10px;
    left: 10px;
    width:50px;
    border:1px solid black;
}

    .profilename:hover, .profilepicture:hover {
        text-decoration: underline;
    }

.titleofsite {
    color: #f5f5dc;
    font-weight: bold;
    font-family: Arial;
    position:relative;
    right:9.25%;
}

.logout-button {
    font-size: large;
    color: #f5f5dc;
    font-family: Arial;
}

.title-main {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center;
    border-bottom: 1.5px solid #490000;
    background-color: #490000;
    z-index: 2;
    justify-content: space-between;
}

.gobackimage {
    width: 25px;
    position: relative;
    right: 115px;
    top: 8px;
}

.user-library:hover {
    text-decoration: underline;
}
.Profile-Container{
    width:300px;
    border:2px solid black;
    background-color:#f5f5dc;
    font-family:Arial;
    position:relative;
    top:50px;
    left:25px;
}