<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeninKütüphanen</title>
    <link rel="stylesheet" href="/css/Settings.css"> 
    <link rel = "icon" href = "/img/LibraryIcon.jpeg" type = "jpeg">
</head>

<body>
    @{
        string userName = ViewData["UserName"].ToString();
        string userProfilePicture = ViewData["UserProfilePicture"].ToString();
    }
    <div class="title-main">
        <div class="profile-container">
            <a href="/UserProfile/ProfileIndex">
                <img class="profilepicture" src="@userProfilePicture" />
                <h3 id="userName" class="profilename">@userName</h3>
            </a>
            <a href="/EditLibrary/EditLibrary">
                <h3 class="user-library">Kullanıcı Kitaplığı</h3>
            </a>
        </div>
        <div class="titleofsite">
            <h2>Senin Kütüphanen</h2>
        </div>
        <div class="logout-section">
            <a href="/LogIn/LogIn" class="logout-button">
                Çıkış Yap
                <img class="gobackimage" src="/img/goback.png" />
            </a>
        </div>
    </div>


   <div class="page-container">
    <div class="settings-container">
        <h1 class="settings">Ayarlar</h1>
        <div class="userprofile-container">
            <h2 style="text-decoration: underline; color:#490000;">PROFİL</h2>
                    <h3>Yeni Kullanıcı Adı: <input id="TbxNewUserName" type="text">
                        <button id="changeUserName" type="button" class="change-button">Değiştir</button></h3>
                    <h3>Bulunulan Yer (Şehir/Ülke): <input id="TbxSetNewCity" type="text">|<input id="TbxSetNewCountry" type="text">
                        <button id="changeLocation" type="submit" class="change-button">Değiştir</button></h3>
            <form action="SetNewUserProfilePicture" method="post" enctype="multipart/form-data" style="display:inline-block;">
                    <h3 style="display:inline-block;">
                        Profil Resmini Değiştir: <input type="file" id="imageInput" name="imageFile" accept="image/*">
                        <button type="submit" class="change-button">Değiştir</button>
                    </h3>
            </form>
            <div style="display:inline-block;">
                <button id="removeProfilePicButton" class="change-button">Kaldır</button>
            </div>
        </div>
       <form action="SetNewPassword" method="post">
                <div class="password-container">
                    <h2 style="text-decoration: underline; color:#490000;">ŞİFRE</h2>
                    <h3>Mevcut Şifre: <input id="TbxCurrentPassword" style="margin-left: 39px;" type=text></h3>
                    <h3>Yeni Şifre:<input id="TbxNewPassword" style="margin-left: 70px;" type="text"></h3>
                    <h3>Yeni Şifre Tekrar:<input id="TbxNewPasswordAgain" style="margin-left: 10px;" type="text"></h3>
                    <button id="changePassword"type="submit" class="change-button" style="margin-left:161.5px;">Değiştir</button>
                </div>
       </form>   
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/ProfileIndex.js"></script>
 </div>     
</body>
</html>
